@media screen and (min-width: 1000px) {

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.page {
    background-color: #2d2822;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}
.desktop-header {
    display: grid;
    grid-template-columns: 50% 40% 5% 5%;
}
.mobile-header {
    display: none;
}
ul {
    display: flex;
}
ul > * {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: .5em;
    margin: .3em;
}
.logo {
    width: 25%;
    min-width: 10em;
}

.title {
    display: grid;
    grid-template-columns: 39% 59%;
    background-color: #0000002b;
    padding: 0.5em 0em;
    gap: 2%;
}
.title-photo {
    width: 95%;
}
h1 {
    font-family: "Montserrat", cursive;
    color: white;
    font-size: 4em;
}
.title-font {
    width: 100%;
    text-align: right;
}
p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
.slogan {
    width: 100%;
    text-align: right;
}

.icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}
.material-symbols-outlined {
    color: white;

}

.games-title {
    text-align: right;
}
.games-title-text {
    text-align: right;
}


.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section p {
    text-align: center;
    width: 80%;
}

}