@media  screen and (max-width:1000px) {
   
    body {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .page {
        background-color: #2d2822;
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
    }

    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .menu-icon {
        width: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 70%;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 3px;
        border-radius: 2px;
    }

    ul {
        grid-column: 2;
    }
    ul > * {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        list-style: none;
        color: white;
        padding: .5em;
        margin: .3em 1em .3em 0em;
        text-align: right;
    }
    .logo {
        width: 25%;
        min-width: 10em;
    }
    
    .title {
        background-color: #0000002b;
    }
    h1 {
        font-family: "Gugi", cursive;
        color: white;
        width: 100%;
        text-align: center;
        margin: .5em 0em;
        padding: .5em 0em;
    }
    .icon-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .material-symbols-outlined {
        color: white;
        margin-top: 1em;

    }
}